# From original tutorial
# NEXT_PUBLIC_SUPABASE_URL=https://vlbiacvjcyueyxvsdddl.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_something
# SUPABASE_SERVICE_ROLE_KEY=sb_secret_something
# OPENAI_API_KEY=sk-proj-something

# For local supabase  
# NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=local_is_really_long
# SUPABASE_SERVICE_ROLE_KEY=local_is_really_long

# For local supabase on VM with docker
NEXT_PUBLIC_SUPABASE_URL=http://10.0.0.nn:8000
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=local_is_really_long
SUPABASE_SERVICE_ROLE_KEY=local_is_really_long

# Ollama Configuration (REQUIRED)
OLLAMA_URL=http://10.0.0.nn:11434
EMBEDDING_MODEL=nomic-embed-text
CHAT_MODEL=llama3.1:8b